*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
html,body{
    margin: 0;
}

.header{
    background-color: #2A2A2A;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1000;
   
}

.logo{
    color: white;
    font-size: 1.25em;
}

.logo span{
    color: #f45313;
}
.topnav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkler{

    display: flex;
}

.linkler a{
    margin-left: 20px;
    color: white;
    font-size: 1.25em;

}

.header-orta{
    width: 100%;
    height: auto;
    background-color: #2A2A2A;
    overflow: hidden;
}

.header-orta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-sol{
   
   
}

.header-sol h2{
    font-size: 3em;
    color: white;
}
.header-sol span{
    color: #f45313;
}
.header-sol p{
    color: white;
}
.header-sol .btn{
    padding: 20px;
    background-color: #f45313;
    color: white;
    border: #1F1F1F;
    cursor: pointer;
    font-size: 18px;
    margin-top: 40px;

   
}



.header-sol .btn:hover{
    background-color: #1F1F1F;
    color: #d35400;
}

.header-sol .btnizle{
    padding: 20px;
    color: white;
    background-color: #f45313;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    border: #1F1F1F;
}

.header-sol .btnizle:hover{
    background-color: #1F1F1F;
    color: #d35400;

}
.btnizle{
    margin-left: 20px;
}
.btnizle i{
    font-size: 25px;
}

.header-sag img{
   width: 80%;
   margin-top: 80px;
   position: relative;
   filter: drop-shadow(0 0 10px #34495e);
   
}

.aboutme{
    width: 100%;
    height: auto;
    background-color: #1F1F1F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.about-sol{

    width: 500px;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
 
}
.about-sol-ayar{
    margin-top: 5%;
}

.about-sol img{
    margin-left: 10px;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: all 0.50s ease-in;
    cursor: pointer;
  
    
}

.about-sol img:hover{
    filter: none;
    width: 240px;
    height: 240px;
}

.aboutsag{

}
.aboutsag h1{
    font-size: 2.25em;
    color: #d35400;
}

.aboutsag h3{
    font-size: 1.25em;
    color: white;
    margin-top: 20px;
}

.aboutsag p{
    margin-top: 20px;
    width: 450px;
    color: white;
}

.tecrubeler{
    width: 100%;
    height: auto;
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tecrubeler h1{
    margin-top: 50px;
    color: #d35400;
    font-size: 2em;
}
.card-con{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
}

.card{
    margin: 20px;
    margin-top: 40px;
    width: 300px;
    height: 200px;
    background-color: #1F1F1F;
    text-align: center;
}

.card i{
    margin-top: 20px;
    color: #d35400;
    font-size: 2em;
}
.card h3{
    color: white;
    font-size: 19px;
    margin-top: 20px;
}
.card p{
    margin-top: 20px;
    color: white;
}

.proje-con{
    width: 100%;
    height: auto;
    background-color: #1F1F1F;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

   
}
.proje-con h3{
    color: #d35400;
    font-size: 2em;
    padding-top: 50px;}
   


.galeriayar{
    width: 60%;

 
   
}

.galeri{
    width: 100%;
    

    
}

.galeri img{
    width: 250px;
    height: 250px;
    margin: 20px;
    
}

.galeri img:hover{
        filter: grayscale(100%);
} 

.footer{
    width: 100%;
    background-color: #2A2A2A;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.con{

}
.con h1,h3{
    color: white;
    font-size: 2em;
  padding: 10px;
}

.con span{
    color: #d35400;
}

.con p{
    margin:10px;
    color:white;
    font-size: 18px;
}

.con i{
    color: #d35400;
    font-size: 20px;
    margin:15px 10px;
   
}

.form{
display: flex;
flex-direction: column;
}
.form input{
    width: 450px;
    margin-top: 20px;
    height: 30px;

}

.gndr{
    margin-top: 10px;
    width: 100px;
    padding: 20px;
    background-color: #1F1F1F;
    border: 1px solid #1F1F1F;
    color: white;
}

.gndr:hover{
    background-color: #34495e;
    color: white;
    cursor: pointer;
}

::placeholder{
    color: black;
}

@media screen and (max-width:710px){

    .header{
        display: flex;
        flex-direction: column;
        position: static;
    }

    .topnav{
        display: flex;
        flex-direction: column;
    }
    .linkler{
        display: flex;
        flex-direction: column;
    }

    .linkler a{
        margin: 10px;
    }
    .galeri img{
       
    }

    .card-con{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: auto;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .form input{
        width: 250px;
    }

    .about-sol{
       width: auto;
       height: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .aboutsag{
        display: flex;
        flex-direction: column;
        
    }
    .aboutsag p{
        width: 100%;
    }


}